* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

body {
  background-image: url("../assets/background5.webp");
  background-position: center;
  background-size: cover;
  color: white;
}

/* /////////////////////navbar styling/////////////////////// */
/* /////////////////////////////////////////////////////////// */
nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(46, 9, 58, 0.8);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus {
  display: flex;
  justify-content:right;
  margin-right: 5px;
  color: white;
}

.aboutus h2 {
  font-size: 1px;
  margin-right: 5px;
  color: white;
  
}
 .aboutus a {
   text-decoration: none;
   color: white;
   float: left;
   font-size: 1px;
  margin-right: 5px;
 }

.logo-container h2 {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
  margin-top: 13px;
}

.company-logo {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  cursor: pointer;
  animation: spin 4s linear infinite;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.profile-container h2 {
  font-size: 18px;
  cursor: pointer;
}

.profile-icon {
  width: 35px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
}

/* /////////////////////header///////////////////////////// */
/* /////////////////////////////////////////////////////////// */
header {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container {
  position: relative;
  height: 15vh;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.car-one {
  height: 60px;
  width: 120px;
  position: absolute;
  top: 30px;
  left: 5px;
  z-index: 2;
  animation: moving 5s linear infinite;
}

.finish-line {
  width: 40px;
  height: 80px;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.car-two {
  height: 60px;
  width: 120px;
  position: absolute;
  top: 35px;
  right: 5px;
  z-index: 2;
  animation: moving 4s linear infinite;
}

/* /////////////////////main content///////////////////////////// */
/* /////////////////////////////////////////////////////////// */
main {
  height: 75vh;
  width: 100%;
  display: flex;
}

/* /////////////////////left side content///////////////////////////// */
.left-side-info {
  height: 75vh;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  background-color: rgba(46, 9, 58, 0.8);
  border-radius: 20px;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
}

.info-title {
  margin: 20px 0px;
}

#car-name {
  margin: 20px 0px;
}

.info-container ul {
  margin: 20px 0px;
}

.info-container ul li {
  margin: 5px 0px;
  list-style-type: none;
}

#rental-cost {
  padding: 20px 5px;
}

.rental-cost-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container span {
  color: #aa671a;
}

/* /////////////////////accessories content///////////////////////////// */
.accessories {
  height: 75vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accessories-container {
  height: 90%;
  width: 95%;
  background-color: rgba(46, 9, 58, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.accessories-container h2 {
  margin: 20px 0px;
  width: 100%;
  text-align: center;
}

.accesory {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.accesory p {
  padding-left: 10px;
  padding-right: 10px;
}

#form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

#form button {
  width: 160px;
  height: 40px;
  background-color: #aa671a;
  border: none;
  border-radius: 20px;
  align-self: center;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

#form button:hover {
  transform: scale(1.2);
}
/* /////////////////////right side content///////////////////////////// */
.right-side-info {
  height: 75vh;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-wrapper {
  height: 90%;
  width: 90%;
  background-color: rgba(46, 9, 58, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.right-info-container {
  margin-bottom: 30px;
  background-image: linear-gradient(to right, #aa671a, #29122c);
  width: 60%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

/* /////////////////////animation///////////////////////////// */
/* /////////////////////////////////////////////////////////// */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moving {
  from {
    left: 10%;
    transform: translateX(-100%);
  }
  to {
    left: 90%;
    transform: translateX(-20%);
  }
}

@keyframes reverseMoving {
  from {
    left: 90%;
    transform: translateX(-20%);
  }
  to {
    left: 10%;
    transform: translateX(-100%);
  }
}
